
@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Computer Network";
}

<div class="container">
    <div class="form-row">
        <div class="col-md-2 justify-content-center btn-group-vertical text-center" role="group">
            <button type="button" id="routerbuttonid" class="btn btn-secondary" asp-action="AddRouter" onclick="addRouter()">Router</button>
            <button type="button" id="switchbuttonid" class="btn btn-secondary" onclick="addSwitch()">Switch</button>
            <button type="button" id="computerbuttonid" class="btn btn-secondary" onclick="addComputer()">Computer</button>
            <button type="button" id="connectbuttonid" class="btn btn-secondary" onclick="addConnection()">Connect</button>
            <button type="button" id="deletebuttonid" class="btn btn-secondary" onclick="deleteItem()">Delete Item</button>
            <button type="button" id="deletebuttonid" class="btn btn-secondary" onclick="deleteEdge()">Delete Edge</button>
            <button type="button" id="cleancanvasbuttonid" class="btn btn-secondary" onclick="resetAllNodes()">Clean</button>
        </div>
        <div id="mynetwork" class="col-md-8">
        </div>
        <div class="col-md-2">

            <iframe name="votar" style="display:none;"></iframe>
            <p id="dispid" style="font-size:90%">Object's ID: </p>
            <form name="objectparameters" id="objectparameters" onsubmit="javascript:submitform();" method="post" target="votar">
                <label>IP-Address: <input id="ipaddressform" autocomplete="off" type="text" name="ipaddress" /></label><br />
                <label>Mask: <input type="text" id="maskform" autocomplete="off" name="mask" /></label><br />
                <label>Default Gateway: <input id="defaultgatewayform" autocomplete="off" type="text" name="defaultgateway" /></label><br />
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>

