@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, MyWebApp
@using ComputerNetwork.Models
@model Router


@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Computer Network";
}

<div class="container">
    <div class="form-row">
        <div class="col-md-3 btn-group-vertical leftdiv">
            <div>
                <button type="button" id="routerbuttonid" class="btn btn-secondary" onclick="addRouter()">Router</button>
                <button type="button" id="switchbuttonid" class="btn btn-secondary" onclick="addSwitch()">Switch</button>
                <button type="button" id="computerbuttonid" class="btn btn-secondary" onclick="addComputer()">Computer</button>
                <button type="button" id="connectbuttonid" class="btn btn-secondary" onclick="addConnection()">Connect</button>
                <button type="button" id="deleteedgebuttonid" class="btn btn-secondary" onclick="deleteEdge()">Delete Edge</button>
            </div>
            <div>
                <h4>Choose network to draw</h4>
              
                <div class="btn-group-vertical" role="group">
                    <select id="NetworkSchemas"></select>
                    <button type="button" onclick="draw()">Draw</button>
                    <button type="button" onclick="deleteNetwork()">Delete Network</button>
                    <button type="button" onclick="deleteAllNetworks()">Delete All Networks</button>
                    <button type="button" onclick="updateNetwork()">Update Network</button>
                    <h4>Name of Network</h4>
                    <textarea id="nameofnetwork"></textarea><br />
                    <button type="button" onclick="save()">Save</button>
                </div>
                </div>

        </div>

            <div id="mynetwork" class="col-md-7 centerdiv"></div>
            <div class="col-md-2 rightdiv">
                <iframe name="votar" style="display: none"></iframe>
                <form asp-controller="Home" style="display: inline-block;" id="objectparameters" method="post" target="votar">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="NameOfElement" class="control-label">Name: </label>
                        <input asp-for="NameOfElement" id="nameofelementform" class="form-control" name="nameofelement" autocomplete="off" type="text" readonly>
                        <span asp-validation-for="NameOfElement" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdOfElement" class="control-label">ID: </label>
                        <input asp-for="IdOfElement" id="idform" class="form-control" name="idofelement" autocomplete="off" type="text" readonly>
                        <span asp-validation-for="IdOfElement" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IpAddress" class="control-label">IP-Address:</label>
                        <input asp-for="IpAddress" name="ipaddress" class="form-control" id="ipaddressform" autocomplete="off" type="text">
                        <span asp-validation-for="IpAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mask" class="control-label">Mask:</label>
                        <input asp-for="Mask" type="text" name="mask" class="form-control" id="maskform" autocomplete="off">
                        <span asp-validation-for="Mask" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gateway" class="control-label">Default Gateway:</label>
                        <input asp-for="Gateway" class="form-control" id="defaultgatewayform" name="gateway" autocomplete="off" type="text">
                        <span asp-validation-for="Gateway" class="text-danger"></span>
                    </div>
                    <button type="submit" asp-action="Index" name="btnSubmit" onclick="submitform()" class="btn btn-primary">Submit</button>
                    <button type="submit" asp-action="Delete" id="deletebuttonid" class="btn btn-secondary" onclick="deleteItem()">Delete Item</button>
                    <button type="submit" asp-action="Clean" id="cleancanvasbuttonid" class="btn btn-warning" onclick="resetAllNodes()">Clean</button>

                </form>
            </div>
        </div>
</div>


