.checked {
    color: orange;
}

.col.md-1{
    background-color: blue;
}


.leftdiv{
    display: block;
}

.centerdiv {
    display: block;
}

.rightdiv {
    display: block;
}
div .no-padding {
    padding: 0;
}

.btn-group-vertical button {
    width: 100%;
}

.rightdiv {
    display: block;
}

canvas {
    display: block;
}